<body class="p-5 text-3xl leading-loose">
    <h1>About Nima</h1>
    <h2>The stack:</h2>
    <ul>
        <li>Netlify</li>
        <li>AstroJS</li>
        <li>Svelte</li>
        <li>Tailwind</li>
        <li>Bun</li>
    </ul>
</body>