---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Nima's Site"
  ,
  description="A deep dive on Nima's software experience and growth"
>
  <div
    class="mt-8 px-2 text-center font-cageroll text-5xl text-emerald-400 md:text-8xl"
  >
    Nima Mohajeri
  </div>
  <div class="mt-8 text-center text-xl text-emerald-600 md:text-3xl">
    Welcome to a portfolio site (a WIP)
  </div>
  <div
    class="mt-8 text-center text-xl text-emerald-600 visited:text-emerald-700 hover:underline md:text-xl"
  >
    <a href="about">About Me & the Stack</a>
  </div>
</Layout>

<style is:global>
  @font-face {
    font-family: "cageroll";
    src: url("/fonts/Cageroll-Cage.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
